<body>
	<div id="container">
	</div>
	
</body>
<script type="text/javascript">
 $(function() {
    // Blog is the app name
    window.router = new Shelfari.Routers.BooksRouter({books: <%= @books.to_json.html_safe -%>});
    Backbone.history.start();
  });
  </script>
