	<button type="submit" class="addition">Add Book</button>  
<div id="set"><label>Search: </label><input type="text" class="search" placeholder="Book Name">
</div>
<form id="addBook" action="#" >
<table><tr><td><label>BookName:</label></td><td><input id="name" placeholder="Enter Book Name" /></td></tr>
       <tr><td><label>AuthorName:</label></td><td><input id="author" placeholder="Enter Author Name" /></td></tr>
       <tr><td><label for="status">Status:</label></td><td><select id="select"><option value="Read">Read</option><option value="Unread">Unread</option></select></td><td><button id="add" >Add</button></td></tr>
</table>
</form>
<h1>Listing books</h1>

<table id="books-table">
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Book</a>