<table>
			<tr><td height="25"><b>Book Name:</b></td><td><%= name %></td></tr>
			<tr><td height="25"><b>Author Name:</b></td><td><%= author %></td></tr>
			<tr><td height="25"><b>Status:</b></td><td><%= status %></td></tr>
			<tr><td><button class="edit">Edit</button></td><td><button class="delete">Delete</button></td></tr>
</table>