<form id="editBook" action="#">
            <table>
			<tr><td><b>Book Name:</b></td><td><input id="name" value="<%= name %>" /></td></tr>
			<tr><td><b>Author Name:</b></td><td><input id="author" value="<%= author %>" /></td></tr>
			<tr><td><b>Status:</b></td><td><select id="select">
  				<option value="Read">Read</option>
  				<option value="Unread">Unread</option>
 				</select></td></tr>
			<tr><td><button class="save">Save</button></td><td><button class="cancel">Cancel</button></td></tr>
			</table>
</form>