<div id="header-wrap">
	        <div id="books">
			<header class="group">
				<div id="title"><h2 class="green"> Shelfari</h2></div>
				<nav class="group">
					<ul>	
						<li class="addBook"><button type="submit" class="addition"><div id="addText" style="font-size: 15px; color: #fff; text-align:centre;">Add Book</div></button></li>
						<li class="search"><input type="text" placeholder="Book Name" class="search"/></li>
					</ul>
				</nav>
			<form id="addBook" action="#" >
			<table>
				<tr><td><label>Book Name:</label></td><td><input type="text" placeholder="Enter Book Name" id="name" /></td></tr>
				<tr><td><label>Author Name:</label></td><td><input type="text" id="author" placeholder="Enter Author Name" /></td></tr>
				<tr><td><label for="status">Status:</label></td>
				<td>
					<select id="select">
	  				<option value="Read">Read</option>
	  				<option value="Unread">Unread</option>
					</select>
				</td>
				<td><button id="add" >Add</button></td></tr>
			</table>
			<div id="book-wrap"></div>
			</form>
			
		</div>
		
	</div>
	